.custom-theme-dropdown{
    display:none;
    flex-direction: column;
    position: absolute;
    top:40px;
    background-color: white;
    width:150px;
    right:10px;
    padding:10px
}
.morning:hover .custom-theme-dropdown{
 display: flex;
}

.custom-theme-dropdown:hover{
    display: flex;
}