:root {
  --primary-color: #7ed957;
  --secondary-color: #A5D46F;
  --background-color: #F1F9E9;
  --text-color: #4A751E;
  --opposite-color: #000000;
  --same-color: #ffffff;
  --muted-color:rgba(0, 0, 0, 0.5);
  --text-on-primary: #ffffff;; /* light green bg needs dark text */
  --text-on-secondary: #000000;
}

/* LIGHT THEMES */
/* .light {
  --primary-color: #6200ea;
  --secondary-color: #03dac6;
  --background-color: #ffffff;
  --text-color: #000000;
  --opposite-color: #000000;
  --same-color: #ffffff;

  --text-on-primary: #ffffff;
  --text-on-secondary: #000000;
} */

.light-blue {
  --primary-color: #1e88e5;
  --secondary-color: #28fff8;
  --background-color: #e3f2fd;
  --text-color: #0d47a1;
  --opposite-color: #000000;
  --same-color: #ffffff;
  --muted-color:rgba(0, 0, 0, 0.5);
  --text-on-primary: #ffffff;
  --text-on-secondary: #000000;
}

.light-red {
  --primary-color: #d32f2f;
  --secondary-color: #ff6659;
  --background-color: #ffebee;
  --text-color: #b71c1c;
  --opposite-color: #000000;
  --same-color: #ffffff;
  --muted-color:rgba(0, 0, 0, 0.5);
  --text-on-primary: #ffffff;
  --text-on-secondary: #000000;
}

.light-orange {
  --primary-color: #ef6c00;
  --secondary-color: #ffcc80;
  --background-color: #fff3e0;
  --text-color: #e65100;
  --opposite-color: #000000;
  --same-color: #ffffff;
  --muted-color:rgba(0, 0, 0, 0.5);
  --text-on-primary: #ffffff;
  --text-on-secondary: #000000;
}

.light-purple {
  --primary-color: #9c27b0;
  --secondary-color: #ce93d8;
  --background-color: #f3e5f5;
  --text-color: #6a1b9a;
  --opposite-color: #000000;
  --same-color: #ffffff;
  --muted-color:rgba(0, 0, 0, 0.5);
  --text-on-primary: #ffffff;
  --text-on-secondary: #000000;
}

.light-green {
  --primary-color: #7ed957;
  --secondary-color: #A5D46F;
  --background-color: #F1F9E9;
  --text-color: #4A751E;
  --opposite-color: #000000;
  --same-color: #ffffff;
  --muted-color:rgba(0, 0, 0, 0.5);
  --text-on-primary: #ffffff;; /* light green bg needs dark text */
  --text-on-secondary: #000000;
}

/* DARK THEMES */
/* .dark {
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --background-color: #121212;
  --text-color: #ffffff;
  --opposite-color: #ffffff;
  --same-color: #000000;

  --text-on-primary: #000000; 
  --text-on-secondary: #000000;
} */

.dark-blue {
  --primary-color: #90caf9;
  --secondary-color: #ffe082;
  --background-color: #0d1b2a;
  --text-color: #e3f2fd;
  --opposite-color: #ffffff;
  --same-color: #000000;
  --muted-color:rgba(243, 240, 240,0.8);
  --text-on-primary: #000000;
  --text-on-secondary: #000000;
}

.dark-red {
  --primary-color: #ef5350;
  --secondary-color: #ff8a80;
  --background-color: #2c0e0e;
  --text-color: #ffcdd2;
  --opposite-color: #ffffff;
  --same-color: #000000;
  --muted-color:rgba(243, 240, 240,0.8);
  --text-on-primary: #ffffff; /* darker red bg needs white text */
  --text-on-secondary: #000000;
}

.dark-orange {
  --primary-color: #ff9800;
  --secondary-color: #ffe0b2;
  --background-color: #261a00;
  --text-color: #ffd180;
  --opposite-color: #ffffff;
  --same-color: #000000;
  --muted-color:rgba(243, 240, 240,0.8);
  --text-on-primary: #000000;
  --text-on-secondary: #000000;
}

.dark-purple {
  --primary-color: #ce93d8;
  --secondary-color: #f3e5f5;
  --background-color: #1a0f1f;
  --text-color: #e1bee7;
  --opposite-color: #ffffff;
  --same-color: #000000;
  --muted-color:rgba(243, 240, 240,0.8);
  --text-on-primary: #000000;
  --text-on-secondary: #000000;
}

.dark-green {
  --primary-color: #a5d6a7;
  --secondary-color: #c5e1a5;
  --background-color: #122e13;
  --text-color: #e8f5e9;
  --opposite-color: #ffffff;
  --same-color: #000000;
  --muted-color:rgba(243, 240, 240,0.8);
  --text-on-primary: #000000;
  --text-on-secondary: #000000;
}
