.dt-container {
  width: 100%;
  overflow-x: auto;
  /* border: 1px solid var(--secondary-color); */
  border-radius: 6px;
  font-family: Arial, sans-serif;
}

.dt-search-bar {
  padding: 12px;
  border-bottom: 1px solid var(--theme-color);
}

.dt-search-bar input {
  padding: 8px;
  width: 300px;
  /* font-size: 14px; */
  /* border: 1px solid var(--theme-color); */
  border-radius: 4px;
}

.dt-table {
  width: 100%;
  border-collapse: collapse;
  
  /* border-spacing: 0 10px; */
}

.dt-table th,
.dt-table td {
  padding: 12px 16px;
  border-bottom:1px solid rgba(0,0,0,0.15);
  /* font-size: 14px; */
  /* background-color: var(--primary-color); */
  /* color:var(--primary-inverse-color); */
  /* color:black */
}

.dt-table th {
  /* background-color: var(--secondary-color); */
  color: rgba(0,0,0,0.8);
  /* border-bottom:2px solid var(--primary-color); */
  text-align: left;
  font-weight: 600;
  /* background: #000; */
}

.dt-filter-input {
  margin-top: 4px;
  width: 100%;
  padding: 6px;
  /* font-size: 13px; */
  border: 1px solid #d1d5db;
  border-radius: 4px;
}
