@import "./styles/Theme.css";

body {
    /* margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

/* .app-container {
    background-color: var(--background-color);
    color: var(--text-color);

   
}


.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.theme-button {
   
    padding: 10px;
    background-color: var(--primary-color) !important;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color:white !important;
}

.theme-button:hover {
    background-color: var(--secondary-color) !important;
} */

.content {
    text-align: center;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content ul li {
    background-color: var(--secondary-color);
    color: var(--background-color);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* .card {
    background-color: var(--primary-color);
    color: var(--text-color);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin: 0 0 10px 0;
}

.primary-text-color{
    color:var(--primary-color)
} */

.error-tooltip {
      position: absolute;
    color: #721c24;
    font-size: 0.85rem;
   
    white-space: nowrap;
    z-index: 10;
}

.error-wrapper {
  position: relative;

}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.active-link{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-left: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.625rem;
  border-radius: 0.5rem;
  color:var(--theme-inverse-color) !important;
  background-color: var(--theme-color);
  font-size: 1rem;
  margin: 0.5rem;
  text-decoration: none; 
}
/* 
.text-color{
    color:var(--text-color) !important
}
.text-color:hover{
    color:black !important
}
.text-color-secondary{
    color:var(--opposite-color)
}



    .primary-bg-color{
        background-color: var(  --primary-color) !important;
    }
       
    .primary-color{
        color: var(  --primary-color);
    }
    .secondary-bg-color
    {
       background-color: var(--secondary-color);
    }
     .secondary-color
    {
       background-color: var(--secondary-color);
    }
    .same-bg-color{
        background-color: var(--same-color);
    }
    .text-on-primary{
        color: var(--text-on-primary) !important;
    } */

 .normal-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;           /* gap-3 = 0.75rem (12px) */
  padding-left: 1rem;     /* pl-4 = 1rem (16px) */
  padding-top: 0.75rem;   /* pt-3 = 0.75rem (12px) */
  padding-bottom: 0.625rem; /* pb-2.5 = 0.625rem (10px) */
  border-radius: 0.5rem;  /* rounded-lg = 0.5rem (8px) */
  font-size: 1rem;        /* text-md ≈ 1rem (16px) */
  /* color: var(--text-color);      */
  margin: 0.5rem;         /* m-2 = 0.5rem (8px) */
  text-decoration: none;  
  color:var(--theme-color)
}

.tab-links{
    /* color: var( --muted-color);*/
    margin-right: 0.75rem;
    cursor: pointer;
    padding-bottom: 15px;
}


.tab-links:hover{
     border-bottom :4px solid var( --muted-color);
     border-radius: 5px;
     clip-path: path("M0,0 H100% Vcalc(100% - 20px) Q50% 120% 100% calc(100% - 20px) V0 Z");

}

.active-tab-link{
    margin-right: 0.75rem;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 4px solid var( --text-color);
    /* color:var(--text-color); */
    border-radius: 5px;
}

.table-heading{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom:20px;
    color:var(--theme-color)
}

.pagination{
  border:1px solid var(--theme-color) !important;

  height:40px;
  width:40px;
  border-radius:10px;
  background-color:var(--primary-color);
  font-weight:700;
  display:flex;
  
  justify-content:center;
  align-items: center;
  color:var(--primary-inverse-color) !important;
  
}

.pagination-container{
  display:flex;
  /* border:1px solid black; */
  justify-content:center;
}

.pagination.active{
  background-color:var(--theme-color) !important;
  color:var(--theme-inverse-color) !important;
  /* border:none; */
    /* padding:6px 6px 6px 6px; */}

    .bg-image{
        background-image:url("../public/assets/bg2.png") ;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #7ed957;
    }